.admin__login {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  padding: 77px 55px 33px;
  border-radius: 10px;
  max-width: 390px;
  width: 100%;
  background-color: #ffffff;


  .admin__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  .form__group {
    margin-bottom: 37px;
    position: relative;
  }

  .input {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 0;
    outline: 0;
    border: 0;

  }

  .input:focus + .label:before {
    width: 100%;
  }

  .input:not(:placeholder-shown) + .label:before {
    width: 100%;
  }

  .input:focus + .label span {
    top: 0;
    font-size: 12px;
  }

  .input:not(:placeholder-shown) + .label span {
    top: 0;
    font-size: 12px;
  }

  .admin__login-title {
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
  }

  .btn__wrapper {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    margin: 40px auto 0;
  }

  .btn__wrapper:hover .btn__gradient {
    left: 0;
  }

  .btn__gradient {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    top: 0;
    left: -100%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
  }

  .btn {
    display: inline-flex;
    padding: 0 15px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #ffffff;
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    line-height: 1;
    cursor: pointer;
    position: relative;
    background: none;
    transition: background-color .1s linear, color .1s linear, border-color .1s linear;
    text-transform: uppercase;
  }

  .label {
    font-size: 15px;
    color: #999;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all .2s ease;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
      transition: all .4s ease;
      z-index: 2;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #adadad;
    }

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      transition: all .2s ease;
      color: $black;
    }
  }

  #esteriol {
    padding-top: 77px;
    padding-right: 10px;
    font-size: 11px;
  }
}


.error__alert {
  display: flex;
  align-items: center;
  color: #c12b2b;

  img {
    margin-right: 1rem;
    height: 1.5rem;
  }
}