
/* 27. Progress
=========================*/
$progress-height:               20px;
$progress-thin-height:          6px;
$progress-bg:                   $light-gray;

/* Bar */
$progress-bar-padding:          0 .5em;
$progress-bar-bg:               $gray;
$progress-color:                $white;
$progress-font-size:            .9em;
$progress-align:                right;
$progress-zindex:               1;

/* Label */
$progress-label-font-size:      1em;
$progress-label-line-height:    1.4;
$progress-label-color:          inherit;
$progress-label-align:          center;
$progress-label-zindex:         1;

/* Styling */
$progress-rounded:              .3em;
$progress-shadow:               0 0 .3em rgba(0, 0, 0, .3);




.progress {
    width: 100%;
    height: $progress-height;
    margin: $block-margin;

    background-color: $progress-bg;

    position: relative;

    &--thin {
        height: $progress-thin-height;

        .progress__bar { padding: 0; }
    }

    /* Styling */
    &--rounded {
        border-radius: $progress-rounded;

        .progress__bar { border-radius: $progress-rounded; }
    }
    &--shadow  { box-shadow: $progress-shadow; }

    &--circle {
        width: 250px;
        height: 250px;
        border-radius: 50%;

        .progress__bar {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}

.progress__bar {
    height: 100%;
    padding: $progress-bar-padding;

    background-color: $progress-bar-bg;

    font-size: $progress-font-size;
    color: $progress-color;
    text-align: $progress-align;
    line-height: $progress-height;

    position: absolute;
    top: 0;
    left: 0;
    z-index: $progress-zindex;

    transition: width .3s linear;

    /* Colors */
    @each $color in $colors {
        &--#{nth($color, 1)} {
            background-color: nth($color, 2);
        }
    }
}

.progress__label {
    width: 100%;

    font-size: $progress-label-font-size;
    line-height: $progress-label-line-height;
    text-align: $progress-label-align;
    color: $progress-label-color;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: $progress-label-zindex;
}


.progress__bar-custom {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;

}